[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-bootstrap = "*"
phonenumbers = "*"
flask-wtf = "*"
transliterate = "*"

[dev-packages]
"autopep8" = "*"

[requires]
python_version = "3.7"
